


<section class="blog-section" id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">وبلاگ های اخیر</h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        ما ایده های شما و در نتیجه خواسته های شما را در قالب یک پروژه وب منحصر به فرد قرار می دهیم که الهام بخش شما و مشتریان شما باشد.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item wow fadeInUp" data-wow-delay=".5s">
                    <div class="blog-thumb">
                        <a href="blog-details.html">
                            <img src="~/MainTemplate/assets/img/blog/1.jpg" alt="">
                        </a>
                        <a href="#" class="category">آموزشی</a>
                    </div>

                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul class="ul-reset">
                                <li>
                                    <i class="fa-light fa-calendar-days"></i>تیرماه ، 1396
                                </li>
                                <li><i class="fa-light fa-comments"></i> <a href="#">نظرات (0)</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">10 طراح برتر رابط کاربری Ux</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item wow fadeInUp" data-wow-delay=".6s">
                    <div class="blog-thumb">
                        <a href="blog-details.html">
                            <img src="~/MainTemplate/assets/img/blog/2.jpg" alt="">
                        </a>
                        <a href="#" class="category">نکات کلیدی</a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul class="ul-reset">
                                <li><i class="fa-light fa-calendar-days"></i> آبان ماه ، 1400</li>
                                <li><i class="fa-light fa-comments"></i> <a href="#">نظرات (0)</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">راهنمای توسعه اپلیکیشن</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item wow fadeInUp" data-wow-delay=".7s">
                    <div class="blog-thumb">
                        <a href="blog-details.html">
                            <img src="~/MainTemplate/assets/img/blog/3.jpg" alt="">
                        </a>
                        <a href="#" class="category">طراحی</a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul class="ul-reset">
                                <li><i class="fa-light fa-calendar-days"></i> فروردین ماه ، 1392</li>
                                <li><i class="fa-light fa-comments"></i> <a href="#">نظرات (0)</a></li>
                            </ul>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">آموزش طراحی گرافیک رایگان</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>