


<section class="resume-section" id="resume-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-header wow fadeInUp" data-wow-delay=".3s">
                    <h2 class="section-title"><i class="flaticon-recommendation"></i> سابقه کاری من</h2>
                </div>

                <div class="resume-widget">
                    <div class="resume-item wow fadeInLeft" data-wow-delay=".4s">
                        <div class="time">2022 - حضور در</div>
                        <h3 class="resume-title">توسعه دهنده اصلی</h3>
                        <div class="institute">بروکلی، لندن</div>
                    </div>
                    <div class="resume-item wow fadeInLeft" data-wow-delay=".5s">
                        <div class="time">2021 - 2022</div>
                        <h3 class="resume-title">فول استک وب دولوپر</h3>
                        <div class="institute">تهران, گیشای غربی</div>
                    </div>
                    <div class="resume-item wow fadeInLeft" data-wow-delay=".6s">
                        <div class="time">2020 - 2021</div>
                        <h3 class="resume-title"> طراحی UI </h3>
                        <div class="institute">خانه رویایی, وین</div>
                    </div>
                    <div class="resume-item wow fadeInLeft" data-wow-delay=".7s">
                        <div class="time">2018 - 2020</div>
                        <h3 class="resume-title">طراحی گرافیکی</h3>
                        <div class="institute">ادویسل, واشنگتن</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="section-header wow fadeInUp" data-wow-delay=".4s">
                    <h2 class="section-title"><i class="flaticon-graduation-cap"></i> تحصیلات من</h2>
                </div>

                <div class="resume-widget">
                    <div class="resume-item wow fadeInRight" data-wow-delay=".5s">
                        <div class="time">2020 - 2023</div>
                        <h3 class="resume-title">دوره برنامه نویسی</h3>
                        <div class="institute">دانشگاه هاروارد</div>
                    </div>
                    <div class="resume-item wow fadeInRight" data-wow-delay=".6s">
                        <div class="time">2016 - 2020</div>
                        <h3 class="resume-title">دوره طراحی گرافیک</h3>
                        <div class="institute">دانشگاه دانمارک</div>
                    </div>
                    <div class="resume-item wow fadeInRight" data-wow-delay=".7s">
                        <div class="time">2012 - 2015</div>
                        <h3 class="resume-title">دوره طراحی سایت</h3>
                        <div class="institute">دانشگاه کالیفورنیا</div>
                    </div>
                    <div class="resume-item wow fadeInRight" data-wow-delay=".8s">
                        <div class="time">2010 - 2011</div>
                        <h3 class="resume-title">فناوری طراحی</h3>
                        <div class="institute">دانشکده فنی</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>