@model Domain.Layer.Dtos.Account.LoginUserDto

@{
	ViewData["Title"] = " ورود کاربر";
}


<!-- Start wrapper-->
<div id="wrapper">

	<div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

	<div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
	<div class="card card-authentication1 mx-auto my-5">
		<div class="card-body">
			<div class="card-content p-2">
				<div class="text-center">
					<img src="~/Admin/assets/images/logo-icon.png" alt="logo icon">
				</div>
				<div class="card-title text-uppercase text-center py-3">ورود کاربر</div>
				<form asp-area="Administration" asp-controller="Account" asp-action="Login" method="post">
					<div class="form-group">
						<label class="sr-only">تلفن همراه</label>
						<div class="position-relative has-icon-right">
                            <input type="text" asp-for="Mobile" class="form-control mb-2 input-shadow" placeholder="تلفن همراه را وارد کنید">
                            <span asp-validation-for="Mobile" class="text-warning "></span>
							<div class="form-control-position">
								<i class="icon-user"></i>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="sr-only">رمز عبور</label>
						<div class="position-relative has-icon-right">
                            <input type="password" asp-for="Password" class="form-control mb-2 input-shadow" placeholder="رمز عبور را وارد کنید">
                            <span asp-validation-for="Password" class="text-warning"></span>
							<div class="form-control-position">
								<i class="icon-lock"></i>
							</div>
						</div>
					</div>
                    <div class="form-group">
                        <div class="icheck-material-white">
                            <input type="checkbox" id="user-checkbox" asp-for="RememberMe" checked="">
                            <label for="user-checkbox">من با شرایط و ضوابط موافقم</label>
                        </div>
                    </div>
					<button type="submit" class="btn btn-light btn-block">ورود</button>
				</form>
			</div>
		</div>
		@* <div class="card-footer text-center py-3">
			<p class="text-warning mb-0">حساب کاربری ندارید؟ <a asp-area="Administration" asp-controller="Account" asp-action="Register"> ثبت نام</a></p>
		</div> *@
	</div>

</div><!--wrapper-->