

<section class="skills-section" id="skills-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">مهارت ها</h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        ما ایده های شما و در نتیجه خواسته های شما را در قالب یک پروژه وب منحصر به فرد قرار می دهیم که الهام بخش شما و مشتریان شما باشد.

                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="skills-widget d-flex flex-wrap justify-content-center align-items-center">
                    <div class="skill-item wow fadeInUp" data-wow-delay=".3s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="~/MainTemplate/assets/img/icons/figma.svg" alt="">
                            </div>
                            <div class="number">92%</div>
                        </div>
                        <p>فیگما</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".4s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="~/MainTemplate/assets/img/icons/sketch.svg" alt="">
                            </div>
                            <div class="number">80%</div>
                        </div>
                        <p>Sketch</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="~/MainTemplate/assets/img/icons/xd.svg" alt="">
                            </div>
                            <div class="number">85%</div>
                        </div>
                        <p>XD</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="~/MainTemplate/assets/img/icons/wp.svg" alt="">
                            </div>
                            <div class="number">99%</div>
                        </div>
                        <p>وردپرس</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".7s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="~/MainTemplate/assets/img/icons/react.svg" alt="">
                            </div>
                            <div class="number">89%</div>
                        </div>
                        <p>ری اکت</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".8s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="~/MainTemplate/assets/img/icons/js.svg" alt="">
                            </div>
                            <div class="number">93%</div>
                        </div>
                        <p>جاوا اسکریپت</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>