@{
    ViewData["Title"] = "خوش آمدید ...";
}

<main class="site-content" id="content">
    <!-- HERO SECTION START -->
    <section class="hero-section d-flex align-items-center" id="intro">
        <div class="intro_text">
            <svg viewbox="0 0 1320 300">
                <text x="50%" y="60%" text-anchor="middle">WELCOME</text>
            </svg>
        </div>
        @await Component.InvokeAsync("MyInformation")
    </section>
    <!-- HERO SECTION END -->
    <!-- RESUME SECTION START -->
    @await Component.InvokeAsync("MyResume")
    <!-- RESUME SECTION END -->
    <!-- SKILLS SECTION START -->
    @await Component.InvokeAsync("MySkill")
    <!-- SKILLS SECTION END -->
    <!-- SERVICES SECTION START -->
    @await Component.InvokeAsync("MyService")
    <!-- SERVICES SECTION END -->
    <!-- PORTFOLIO SECTION START -->
    @await Component.InvokeAsync("MyProject")
    <!-- PORTFOLIO SECTION END -->
    <!-- BLOG SECTION STAR -->
    @await Component.InvokeAsync("MyBlog")
    <!-- BLOG SECTION END -->
    <!-- CONTACT SECTION START -->
    @await Component.InvokeAsync("ContactMe")
    <!-- CONTACT SECTION END -->
    <!-- BEGIN: Contact Form Success Modal Message -->
    <div class="modal contact_modal" id="message_sent" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title"><strong>پیام شما با موفقیت ارسال شد</strong></span>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <p>از اینکه با ما تماس گرفتید، متشکریم. ما به زودی با شما تماس خواهیم گرفت.<br>روز خوبی داشته باشید!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Contact Form Success Modal Message -->
    <!-- BEGIN: Contact Form Fail Modal Message -->
    <div class="modal contact_modal failed" id="message_fail" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title"><strong>اخطار</strong></span>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <p>اشتباهی رخ داده لطفا دوباره تلاش کنید.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Contact Form Fail Modal Message End -->
</main>